
/* .slideshow-container {
  position: relative;
  display: flex;
  height: 400px;
  align-self: center;
  width: 100%;
  background-color: white;
  padding: 0px 15px;
  overflow: hidden;
} */

/* .myslides {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  width: 100%;
  background-color: white;
  border: 1px solid red;
  box-sizing: border-box;
  padding: 0px 15px;
  margin: 0px 80px;
}*/


.slideshow-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-self: flex-start;
  /* border:2px solid yellow; */
  display: flex;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  /* border: 1px solid red; */
}

.myslides {
  min-width: 100%;
  height: 400px;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content:center ;
  align-self: center;
  background-size: cover;
  border: 1px solid blue;
}


.myslides img {
  align-self: center;
  justify-content: center;
  display: flex;
  /* border: 1px solid #000000; */
  height: 230px;
  width: 300px;
}

.myslides p{
  font-size: 1em;
  font-weight: 1000;
  width: auto;
  /* text-align: center; */
  border: 1px solid #000000;
  /* align-self: center; */
}


.myslides >p {
display: flex;
text-align: center;
align-self: center;
}

.myslides > p:last-child{
  font-size: 15px;
  color: #A0A0A0;
  width: auto; 
}