
body{
    font-family: "Be Vietnam Pro", sans-serif;
    display: flex;
    flex-direction: column;
    width: auto;
    box-sizing: border-box; 
    /* border: 1px solid black; */
    background-color: white;
}

.header .logo{
    height: 9vh;
    width:6%;
    margin: 0px 15px;
    /* border: 1px solid black;  */
}

.header{
    display:flex;
    height:15vh;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box; 
    /* border: 1px solid black; */
    padding: auto 50px;
    font-size: 15px;
    width: auto;
}
.address { 
    margin: auto;
    /* border: 1px solid black;*/
    padding: 2%;
}
.header .address img {
    height:20px;
    width: 20px;
    /* border: 1px solid black; */
    padding-bottom: -3px;
    margin-bottom: -5px;
}

.time{
    margin: auto;
    padding: 2%;
    /* border: 1px solid black; */
}

.header .time img{
    height:20px;
    width: 20px;
    /* border: 1px solid black; */
    padding-bottom: -3px;
    margin-bottom: -5px; 
}

/* .phone{
    margin: auto;
} */


.body{
    display: flex;
    /* border: 1px solid black; */
    padding: 10px 15px;
    margin: 8px 80px 80px 80px;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    height: 400px;
    /* align-items: center; */
    /* position: relative; */
}
.profile {
    border: 1px solid black;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

/* .title>* {
    border: 1px solid black;
} */

.title{
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: flex-start !important;
    /* border: 1px solid rgb(247, 247, 45); */
    text-align: start;
}


.title h1{
    font-weight: 5000;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red;  */
}

.title p{
    color: #A0A0A0;
    font-size: 15px;
    margin-left: 0px;
    padding-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self:flex-start;
    /* border: 1px solid blue; */
    text-align: start;
}

.myslides .profile img {
    height:300px;
    width:300px;
    border-radius: 150px;
    display:flex;
    align-self: center;
}


.details{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    margin: 20px 80px;
}
.detailsleft {
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
    padding:5px 15px;
}
.custom h1{
    font-size: 40px;
    font-weight: 5000;
    /* border: 1px solid black; */
}
.custom1{
    color: #A0A0A0;
    font-size: 15px;
}

.detailsright{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.custom2{
    padding: 30px 15px;
}

.custom3{
    font-size: 1em;
    font-weight: 1000;
    padding-bottom: 30px;
}
.write{
font-size: 15px;
color: #A0A0A0;
}